<div class="login-container"  [ngStyle]="{'background-image': foto}">
  <div class="col-md-4 col-12 cont_form">
    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

      <!-- login form  -->
      <div class="row justify-content-center">
        <div class="col-12 cont_campo inputbox">
          <input  type="text" name="username" [(ngModel)]="form.username" required #username="ngModel">
          <span>Usuario:</span>
          <i></i>
        </div>
        <div class="col-12 cont_campo cont_error" *ngIf="username.errors && f.submitted">
          <mat-icon>error</mat-icon>
          <span>
            Usuario necesario</span>
        </div>
        <div class="col-12 cont_campo inputbox">
          <input type="password" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel">
          <span>Contraseña:</span>
          <i></i>
        </div>
        <div class="col-12 cont_campo cont_error" *ngIf=" password.errors && f.submitted">
          <mat-icon>error</mat-icon>
          <ng-container *ngIf="password.errors['required']">
            <span>
              Introduce contraseña</span>
          </ng-container>
          <ng-container *ngIf="password.errors['minlength']">
            <span>La contraseña es de más de 6 caracteres </span>
          </ng-container>
        </div>
        <div class="col-12 iniciar cont_campo">
          <button type="submit" class="boton-grow">
            INICIA SESIÓN
          </button>
        </div>
        <div class="col-12 cont_campo cont_error" *ngIf="f.submitted && isLoginFailed">
          <mat-icon>error</mat-icon>
          <span>{{ errorMessage }}</span> 
        </div>
      </div>
    </form>
  </div>
</div>