// div {
//   outline: 2px dotted red;
// }
.boton-grow {
  margin-top: 20px;
  width: 30%;
}

@media (max-width: 576px) {
  .boton-grow {
    width: 80%;
  }
}

.cont__noti {
  margin-left: 10px;
  border-left: 2px solid var(--color-azul-oscuro);
  border-top: 2px solid var(--color-azul-oscuro);
}

@media (max-width: 768px) {
  .cont__noti {
    margin-top: 10%;
  }
}

.cont-sesion {
  white-space: pre-wrap;
  margin-bottom: 1rem;
}

.enlace {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-naranja);
}

.noti {
  color: var(--color-light);
}

.noti:nth-child(even) {
  background: var(--color-azul-oscuro);
}
.noti:nth-child(odd) {
  background: var(--color-azul);
}

a {
  padding: 0;
  word-break: break-all;
}
