.form__cont-error {
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
  padding: 5px;
  background-color: rgb(241, 174, 174);
  border: 1px solid rgb(236, 50, 50);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.form__texto-error {
  padding: 3px;
  font-size: smaller;
}

.select {
  border: 3px solid var(--color-azul);
  padding: 6px;
  border-radius: 4px;
  box-sizing: border-box;
}

.boton-atras,
.boton-grow {
  width: 100%;
}
